# =====================
# Logs
# =====================
logs/
*.log

# =====================
# Temporales / Editor
# =====================
*.swp
*.swo
*.tmp
*~

# =====================
# Scripts personales
# =====================
Terraria-server.sh

# =====================
# Configs privados
# =====================
server.conf
*.token
*.key
*.secret

# =====================
# Playit / Tunnels
# =====================
.playit/
playit.toml

# =====================
# Cache / basura
# =====================
.cache/
.DS_Store

# =====================
# IDEs
# =====================
.vscode/
.idea/

